section.section
  header.section__header
    h3.section__h3 isWebKit()
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.5.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Platform Detection
    p isWebKit() 方法用来检测当前浏览器内核是否为 WebKit 内核。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    p 返回检测结果。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 isWebKit 单个方法
        import isWebKit from '@yaohaixiao/dom.js/isWebKit'

        // Chrome/Opera/Edge 等 webkit 内核浏览器中运行
        DOM.isWebKit() // -> true

        // Firefox或者IE等非 webkit 内核浏览器中运行
        isWebKit() // -> false
