section.section
  header.section__header
    h2.section__title Platform Detection
  div.section__content
    p dom.js 提供以下方法用以检测当前运行平台的相关信息。
  include ./isBrowser
  include ./isDeno
  include ./isNodeJs
  include ./isMobile
  include ./isWebKit
  include ./browser
  include ./os

