section.section
  header.section__header
    h3.section__h3 getDocumentHeight()
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p getDocumentHeight() 方法用来获取当前页面（滚动条）的高度。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回文档的高度值。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getDocumentHeight 单个方法
        import getDocumentHeight from '@yaohaixiao/dom.js/getDocumentHeight'

        DOM.getDocumentHeight() // -> 800
