section.section
  header.section__header
    h3.section__h3 getDocumentWidth()
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p getDocumentWidth()方法用来获取当前页面（滚动条）的宽度。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回文档的宽度值。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getDocumentWidth 单个方法
        import getDocumentWidth from '@yaohaixiao/dom.js/getDocumentWidth'

        DOM.getDocumentWidth() // -> 800
