section.section
  header.section__header
    h3.section__h3 getScreenWidth()
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.4.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    p getScreenWidth() 方法用来获取显示器屏幕分辨率宽度。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回显示器屏幕分辨率宽度。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getScreenWidth 单个方法
        import getScreenWidth from '@yaohaixiao/dom.js/getScreenWidth'

        DOM.getScreenWidth() // -> 1920
        getScreenWidth() // -> 1920
