section.section
  header.section__header
    h3.section__h3 getViewportWidth()
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p getViewportWidth() 方法用来获取当前窗口视口宽度。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回窗口视口的宽度值。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getViewportWidth 单个方法
        import getViewportWidth from '@yaohaixiao/dom.js/getViewportWidth'

        DOM.getViewportWidth() // -> 1280
