section.section
  header.section__header
    h3.section__h3 innerHeight(el[, val])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p innerHeight() 方法用来获取或设置 DOM 元素的 innerHeight 值；innerHeight = style.height + padding 高度（paddingTop + paddingBottom）。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number|String|Function
    p （可选）val 参数指定 DOM 元素的 innerHeight 高度或者获取 innerHeight 高度的处理函数。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回窗口视口的高度值。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
        .list,
        .item {
          margin: 0;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
        }
        .item {
          float: left;
          border: 2px;
          padding: 10px;
          height: 40px;
          overflow: hidden;
        }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 innerHeight 单个方法
        import innerHeight from '@yaohaixiao/dom.js/innerHeight'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        DOM.innerHeight($list) // => 64
        DOM.innerHeight($home) // => 60

        innerHeight($home, 50)
        DOM.getStyle($home, 'height') // => '30px'

        // 使用回到函数获取自定义计算的 innerHeight 高度
        innerHeight($home, (el, sizes) => {
          return sizes.offsetHeight - (sizes.borderTop + sizes.borderBottom + sizes.paddingTop + sizes.paddingBottom)
        })
        // -> 40
