section.section
  header.section__header
    h3.section__h3 outerWidth(el[, val, includeMargin])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p outerWidth() 方法用来获取或设置 DOM 元素的 outerWidth 值：
    ul
      li 默认（不包含边距）：outerWidth = style.width + border 宽度（borderRight + borderLeft）+ padding 宽度（paddingRight + paddingLeft）;
      li 包含边距：outerWidth = style.width + margin 宽度（marginRight + marginLeft） + border 宽度（borderRight + borderLeft）+ padding 宽度（paddingRight + paddingLeft）;
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number|String|Function|Boolean
    p （可选）val 参数指定 DOM 元素的 outerWidth 高度或者获取 outerWidth 宽度的处理函数。
    h5.section__h4 includeMargin
      dl.section__dl
        dt.section__dt Type：
        dd.section__dd Boolean
      p （可选）指定 outerWidth 宽度是否包含边距宽度。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回窗口视口的高度值。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
        .list,
        .item {
          margin: 0;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
        }
        .item {
          float: left;
          margin: 5px 0;
          border: 2px;
          padding: 10px;
          height: 40px;
          overflow: hidden;
        }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 outerWidth 单个方法
        import outerWidth from '@yaohaixiao/dom.js/outerWidth'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        DOM.outerWidth($list) // => 248
        DOM.outerWidth($home, true) // => 74
        DOM.outerWidth($home) // => 64

        outerWidth($home, 70)
        DOM.getStyle($home, 'width') // => '46px'
