section.section
  header.section__header
    h2.section__title Size
  div.section__content
    p dom.js 提供以下几个方法用于获取 DOM 元素的尺寸大小。
  include ./getDocumentHeight
  include ./getDocumentWidth
  include ./getViewportHeight
  include ./getViewportWidth
  include ./innerHeight
  include ./innerWidth
  include ./outerHeight
  include ./outerWidth
  include ./height
  include ./width
  include ./sizes
