section.section
  header.section__header
    h3.section__h3 width(el[, val])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Size
    p width() 方法用来获取或设置 DOM 元素的宽度。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number|String
    p （可选）val 参数指定宽度值。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回 DOM 元素的宽度值。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
        .list,
        .item {
          margin: 0;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
        }
        .item {
          float: left;
          border: 2px;
          padding: 10px;
          height: 40px;
          overflow: hidden;
        }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 width 单个方法
        import width from '@yaohaixiao/dom.js/width'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        DOM.width($list) // => 256
        width($home) // => 64

        width($home, 50)
        DOM.getStyle($home, 'width') // -> '50px'
        DOM.getOffsetWidth($home) // -> 74
