section.section
  header.section__header
    h3.section__h3 getProperty(prop)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Style
    p getProperty() 用来获取 CSS 变量（属性）值。
    h4.section__h4 Parameters
    h5.section__h4 prop
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）CSS 属性名称。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p 返回一个 DOMString ，其中包含请求的 CSS 属性的值。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
          :root {
            --outline-zIndex: 2000;
            --outline-sticky-height: 100%;
            --outline-chapters-width: 100%;
          }
        &lt;/style&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getProperty 单个方法
        import getProperty from '@yaohaixiao/dom.js/getProperty'

        DOM.getProperty('--outline-zIndex') // => '2000'
        getProperty('--outline-sticky-height') // => '100%'
        getProperty('--outline-chapters-width') // => '100%'
