section.section
  header.section__header
    h3.section__h3 injectCSS(cssRules)
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.4.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Style
    p injectCSS() 方法用来向当前文档动态插入 style 标签，以批量添加样式。返回动态创建的 style 标签节点。
    h4.section__h4 Parameters
    h5.section__h4 cssRules
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）cssRules 参数指定需要动态添加的 CSS 样式规则字符串。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p 返回动态创建的 style 标签节点。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 injectCSS 单个方法
        import injectCSS from '@yaohaixiao/dom.js/injectCSS'

        DOM.injectCSS('body {background-color: #f00;}')
        // -> &lt;style type="text/css"&gt;body{background-color:#f00;}&lt;/style&gt;
