section.section
  header.section__header
    h2.section__title Style
  div.section__content
    p dom.js 提供以下几个方法用以获取或者设置 DOM 元素的 css 样式属性：
  include ./getStyle
  include ./setStyle
  include ./getStyles
  include ./setStyles
  include ./getProperty
  include ./setProperty
  include ./injectCSS
  include ./css
  include ./prop
  include ./show
  include ./hide
  include ./toggle
