section.section
  header.section__header
    h2.section__title Load Resources
  div.section__content
    p dom.js 提供以下方法用以动态加载资源文件。
  include ./injectCSS
  include ./loadCSS
  include ./loadScript
  include ./dnsPrefetch
  include ./prefetch
  include ./preload

