section.section
  header.section__header
    h3.section__h3 isScaled(el)
  div.section__content
    h4.section__h4 Since
      p.section__dd 1.9.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Detect
    p isScaled() 方法用来检测 DOM 节点是否被缩放了。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    p DOM 节点被缩放返回 true，否则为 false。
    pre.section__pre
      code.section__.
        &lt;ul id="list" class="list"&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item project"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        &lt;div id="home" class="home"&gt;Home&lt;/div&gt;

        &lt;style&gt;
          .home {
            transform: scale(0.8);
          }
        &lt;/style&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 isScaled 单个方法
        import isScaled from '@yaohaixiao/dom.js/isScaled'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        DOM.isScaled($home) // -> false
        isScaled($home) // -> true
