section.section
  header.section__header
    h3.section__h3 randomHexColor()
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.7.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Color
    p randomHexColor() 方法用来将随机生成 HEX 格式颜色代码字符串。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p 返回随机生成 HEX 格式颜色代码字符串。
    pre.section__pre
      code.section__.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 randomHexColor 单个方法
        import randomHexColor from '@yaohaixiao/dom.js/randomHexColor'

        DOM.randomHexColor() // -> '#ff1100'
        randomHexColor() // -> '#ef23c2'