section.section
  header.section__header
    h3.section__h3 toHSL(color)
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.3.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Color
    p toHSL() 方法用来将指定颜色（颜色英文名称、16 进制或RGB格式色值）转化成 HSL 格式色值。
    h4.section__h4 Parameters
    h5.section__h4 color
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）color 参数指定指定颜色。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p 返回转化后的 HSL 进制色值。
    pre.section__pre
      code.section__.
        &lt;style&gt;
          .list {
            background-color: rgb(255,255,255);
            color: black;
          }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li class="item about"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 toHSL 单个方法
        import toHSL from '@yaohaixiao/dom.js/toHSL'

        const $list = DOM.byId('#list')

        DOM.toHSL(DOM.getStyle($list, 'color')) // 'hsl(0,0%,0%)'
        toHSL(DOM.getStyle($list, 'background-color')) // 'hsl(0,0%,100%)'
        toHSL('red') // 'hsl(0,100%,50%)'

