section.section
  header.section__header
    h3.section__h3 getSiblings(el[, includeSelf = false])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Selecting Siblings
    p getSiblings() 方法用来获取 DOM 元素的前面或后面所有邻居元素节点。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 includeSelf
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    p （可选）includeSelf 参数指定是否包含 DOM 元素本身。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p 返回 DOM 元素的前面或后面所有邻居元素节点的数组，如果没有则返回空数组。
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item about"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getSiblings 单个方法
        import getSiblings from '@yaohaixiao/dom.js/getSiblings'

        const $about = DOM.getEl('.about')

        DOM.getSiblings($about)
        // -> [
        //   &lt;li class="item"&gt;Projects&lt;/li&gt;,
        //   &lt;li class="item blog"&gt;Blog&lt;/li&gt;,
        //   &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
        // ]

        getPrevSiblings($about, true)
        // -> [
        //   &lt;li class="item"&gt;Projects&lt;/li&gt;,
        //   &lt;li class="item blog"&gt;Blog&lt;/li&gt;,
        //   &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;,
        //   &lt;li class="item about"&gt;About&lt;/li&gt;
        // ]
