section.section
  header.section__header
    h3.section__h3 prevBy(el, filter)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Selecting Siblings
    dl.section__dl
      dt.section__dt Alias：
      dd.section__dd getPreviousSibling
    p prevBy() 方法用来通过过滤器获取 DOM 元素匹配的前面的邻居 HTMLElement 或者文本节点。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement|Text
    p （必须）el 参数指定 DOM 元素(HTMLElement 或者 Text 类型)。
    h5.section__h4 filter
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function|String
    p （必须）filter 参数指定用于过滤的回调函数或者选择器字符串。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement|Text
    p 返回 DOM 元素的下一个邻居节点。
    pre.section__pre
      code.section__code.
        &lt;div class="section"&gt;Section Content&lt;/div&gt;
        文本内容
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li id="about" class="item about"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 prevBy 单个方法
        import prevBy from '@yaohaixiao/dom.js/prevBy'

        const $list = DOM.byId('#list')
        const $about = DOM.byId('#home')

        DOM.prevBy($about, '.item.about') // -> &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
        prevBy($about, (el) => {
          return DOM.hasClass(el, 'blog')
        })
        // -> &lt;li class="item blog"&gt;Blog&lt;/li&gt;

        // 获取文本节点类型的邻居节点
        const $text = prevBy($about, (el) => {
           return DOM.isText(el)
        })
        // -> '文本内容'

        prevBy($text, '.section') // -> &lt;div class="section"&gt;Section Content&lt;/div&gt;
