section.section
  header.section__header
    h3.section__h3 prev(el[, isElementSibling])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Selecting Siblings
    dl.section__dl
      dt.section__dt Alias：
      dd.section__dd getPrevSibling
    p prev() 方法用来获取 DOM 元素的前一个邻居元素节点。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
    dd.section__dd HTMLElement|Text
    p （必须）el 参数指定 DOM 元素(HTMLElement 或者 Text 类型)。
    h5.section__h4 isElementSibling
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd true
    p （可选）isElementSibling 参数指定是否仅获取 HTMLElement 元素节点，默认值：true。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement|Text
    p 返回 DOM 元素的前一个邻居节点。
    pre.section__pre
      code.section__code.
        &lt;div class="section"&gt;Section Content&lt;/div&gt;
        文本内容
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 prev 单个方法
        import prev from '@yaohaixiao/dom.js/prev'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')
        const $blog = DOM.getEl('.blog')

        DOM.prev($list) // -> &lt;div class="section"&gt;Section Content&lt;/div&gt;
        prev($list, false) // -> '文本内容'
        prev($blog) // -> &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
