section.section
  header.section__header
    h2.section__title Selecting Siblings
  div.section__content
    p dom.js 提供以下几个方法用于获取指定 DOM 元素的邻居节点。
  include ./getNextSibling
  include ./getPreviousSibling
  include ./getNextSiblingBy
  include ./getPreviousSiblingBy
  include ./getNextSiblings
  include ./getPreviousSiblings
  include ./getSiblings
  include ./prev
  include ./next
  include ./prevBy
  include ./nextBy
  include ./prevAll
  include ./nextAll
  include ./siblings
