section.section
  header.section__header
    h3.section__h3 openURL(url, target = '_blank')
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.4.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Others
    p openURL() 方法打开指定 URL 页面。
    h4.section__h4 Parameters
    h5.section__h4 url
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）需要打开的文件 URL 地址。
    h5.section__h4 target
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd '_blank'
    p （可选）打开方式，默认值：_blank - 新窗口打开。
    pre.section__pre
      code.section__.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 openURL 单个方法
        import openURL from '@yaohaixiao/dom.js/openURL'

        // 新窗口打开
        DOM.openURL('http://www.yaohaixiao.com')

        // 本窗口打开
        openURL('https://github.com/yaohaixiao/dom.js', '_self')
