section.section
  header.section__header
    h3.section__h3 insertHTMLAfterBegin(el, html)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd DOM Insertion
    p insertHTMLAfterBegin() 方法用来将指定的文本解析为 Element 元素，并将结果节点插入 el 元素之前。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定要插入的 DOM 元素。
    h5.section__h4 html
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）html 指定希望插入的 html 字符串。
    pre.section__pre
      code.section__.
        &lt;ul id="list" class="list"&gt;
            &lt;li class="item about"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 insertHTMLAfterBegin 单个方法
        import insertHTMLAfterBegin from '@yaohaixiao/dom.js/insertHTMLAfterBegin'

        const $list = DOM.byId('#list')

        // 将插入 html 插入到 $list 节点前面
        DOM.insertHTMLAfterBegin($list, '&lt;ul&gt;&lt;li id="home" class="item active"&gt;Home&lt;/li&gt;&lt;/ul&gt;')

        // 将插入 html 插入到 $list 节点前面
        insertHTMLAfterBegin($list, '&lt;ul&gt;&lt;li class="item project"&gt;Projects&lt;/li&gt;&lt;/ul&gt;')
