section.section
  header.section__header
    h2.section__title DOM Insertion
  div.section__content
    p dom.js 提供以下方法用于处理插入新的 DOM 元素。
  include ./insertAfter
  include ./insertBefore
  include ./insertHTMLAfterBegin
  include ./insertHTMLAfterEnd
  include ./insertHTMLBeforeBegin
  include ./insertHTMLBeforeEnd
  include ./append
  include ./prepend
  include ./after
  include ./before
  include ./replace
  include ./unwrap
  include ./wrap
  include ./wrapAll
  include ./wrapInner
