section.section
  header.section__header
    h3.section__h3 byId(id, el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    p byId() 方法返回文档中与指定 id 选择器匹配 Element 对象。
    h4.section__h4 Parameters
      h5.section__h4 id
      dl.section__dl
        dt.section__dt Type：
        dd.section__dd String
      p （必须）id 选择器字符串。
      h5.section__h4 el
      dl.section__dl
        dt.section__dt Type：
        dd.section__dd HTMLElement
      p （可选）el 参数指定要检索的 DOM 元素范围，不指定则默认为 document。
      h5.section__h4 Returns
      dl.section__dl
        dt.section__dt Type：
        dd.section__dd HTMLElement
      p 返回检索匹配的 DOM 元素。
    pre.section__pre
      code.section__.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 byId 单个方法
        import byId from '@yaohaixiao/dom.js/byId'

        // 使用 ID 选择器，或者使用 ID 属性值都可以检索
        const $list = DOM.byId('#list')
        const $home = byId('home')
