section.section
  header.section__header
    h3.section__h3 closet(el, selector[, ctx, includeCTX])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    p closet() 方法用来获取父元素最近的包含 selector 选择器的元素。通常用于使用事件代理时，获取点击的目标 DOM 元素。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 指定父元素。
    h5.section__h4 selector
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）selector 指定要查询元素的选择器。
    h5.section__h4 ctx
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （可选）ctx 指定比对的 DOM 元素
    h5.section__h4 ctx
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean
    p （可选）includeCTX 指定是否包含 ctx 参数指定的 DOM 元素.
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p 返回匹配的 DOM 元素。
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 closet 单个方法
        import closet from '@yaohaixiao/dom.js/closet'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        closet($home, '.active', $list)
        // -> &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
