section.section
  header.section__header
    h3.section__h3 findAll(selector)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.4.0
    p 返回文档（document）中与指定的选择器组匹配的所有 DOM 元素。
    h4.section__h4 Parameters
    h5.section__h4 selector
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）选择器字符串。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd NodeList
    p 返回检索匹配的 DOM 元素列表。
    pre.section__pre
      code.section__.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 findAll 单个方法
        import findAll from '@yaohaixiao/dom.js/findAll'

        const $items = DOM.findAll('.item')

        const $blog = findAll('.blog')
