section.section
  header.section__header
    h3.section__h3 getLastChild(el[, filter])
  div.section__content
    h4.section__h4 Since
    p.section__dd 1.10.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    p getLastChild() 方法返回指定 DOM 节点与 filter 过滤方法匹配的最后一个子节点。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 filter
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function|String
    p （可选）filter 参数指定用于过滤的回调函数或者选择器字符串。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement|Text
    p 返回匹配的子节点。
    pre.section__pre
      code.section__.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item project"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getLastChild 单个方法
        import getLastChild from '@yaohaixiao/dom.js/getLastChild'

        const $list = DOM.getEl('#list')

        DOM.getLastChild($list)
        // -> &lt;li class="item"&gt;About&lt;/li&gt;

        // 通过选择器字符串过滤子节点
        getLastChild($list, '.blog')
        // -> &lt;li class="item blog"&gt;Blog&lt;/li&gt;

        // 通过过滤函数过滤子节点
        getLastChild($list, (el) => {
          return DOM.hasClass(el, 'project')
        })
        // -> &lt;li class="item project"&gt;Projects&lt;/li&gt;
