section.section
  header.section__header
    h3.section__h3 getScrollParent(el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Base
    p getScrollParent() 方法用来获取最近的（指包含层级上的最近）包含该元素的滚动父元素（overflow/overflow-x/overflow-y: auto ）。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p el 参数指定 DOM 元素。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p 返回查询到的 DOM 元素的父节点。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
        .list {
          position:relative;
          overflow: auto;
        }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getScrollParent 单个方法
        import getScrollParent from '@yaohaixiao/dom.js/getScrollParent'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        const $parent = DOM.getScrollParent($home)
        console.log($parent === $list) // -> true

        console.log(getScrollParent($list)) // -> document.body
