section.section
  header.section__header
    h2.section__title Base
  div.section__content
    p dom.js 提供以下方法用以创建或查询 DOM 元素等基础 DOM 操作。
  include ./build
  include ./copyToClipboard
  include ./createAndDownloadFile
  include ./createElement
  include ./clone
  include ./canPosition
  include ./closet
  include ./contains
  include ./byClass
  include ./byId
  include ./getEl
  include ./find
  include ./findAll
  include ./getHostOrParent
  include ./getOffsetParent
  include ./getScrollParent
  include ./getURLProps
  include ./getURLSearchParams
  include ./getURLSearchParamByName
  include ./toURLSearchParams
  include ./index
  include ./inDocument
  include ./inBounding
  include ./inViewport
  include ./isMatched
  include ./matches
  include ./children
  include ./openURL
  include ./parent
  include ./pixel
  include ./serialize

