doctype html
html(lang="en")
  head
    include ./meta
    title="dom.js | 专门处理 DOM 操作的 JavaScript 工具库"
    include ./preload
    include ./style
  body
    div#docs.docs
      include ./aside
      include ./main
    include ./script
