main#main.main
  include ./header

  include ./cdn
  include ./download

  article#article
    include ./attributes/section
    include ./base/section
    include ./color/section
    include ./insertion/section
    include ./position/section
    include ./sibling/section
    include ./size/section
    include ./style/section
    include ./types/section

  include ./footer
