main#main.main
  include ./header

  include ./cdn
  include ./download

  article#article
    include ./attributes/section
    include ./base/section
    include siblings/section
    include css/section

  include ./footer
