meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="keywords" content="dom.js,DOM,JavaScript,Toolkit")
meta(name="description" content="dom.js - 专门处理 DOM 操作的 JavaScript 工具库。")
link(rel="shortcut icon" href="./favicon.ico")
