section.section
  header.section__header
    h3.section__h3 isElement(el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Node Type Detection
    p isElement() 方法用来检测测试数据是否为 HTMLElement (元素节点)类型。
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Lang
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）el 参数指定待检测的 DOM 元素。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 HTMLElement (元素节点)类型，false 则表示不是。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom'
        // 或者单独引用 isElement() 方法
        import isElement from '@yaohaixiao/dom.js/isElement'

        const $list = document.getElementById('list')
        const $div = document.createElement('div')
        const $text = document.createTextNode('text')
        const $items = document.querySelectorAll('.item')
        const $fragment = document.createDocumentFragment()

        DOM.isElement($list) // -> true
        DOM.isElement($div) // -> true
        DOM.isElement($text) // -> false
        isElement($items) // -> false
        isElement($fragment) // -> false
