section.section
  header.section__header
    h3.section__h3 isFragment(el)
  div.section__content
    h4.section__h4 Description
    p isFragment(val) 方法用来检测测试数据是否为 DocumentFragment 文档碎片。
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 0.6.0
    h4.section__h4 Parameters
    h5.section__h4 val
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Any
    p （必须）val 待检测的数据。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Boolean。
    p true - 表示检测数据是 DocumentFragment 文档碎片，false 则表示不是。
    pre.section__pre
      code.section__code.
        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom'
        // 或者单独引用 isFragment() 方法
        import isFragment from '@yaohaixiao/dom.js/isFragment'

        const $list = document.getElementById('list')
        const $div = document.createElement('div')
        const $text = document.createTextNode('text')
        const $items = document.querySelectorAll('.item')
        const $fragment = document.createDocumentFragment()

        DOM.isElement($list) // -> true
        DOM.isFragment($list) // -> false

        DOM.isElement($div) // -> true
        DOM.isFragment($div) // -> false

        DOM.isElement($text) // -> false
        DOM.isFragment($text) // -> false

        DOM.isElement($items) // -> false
        isFragment($items) // -> false

        DOM.isElement($fragment) // -> false
        isFragment($fragment) // -> true
