section.section
  header.section__header
    h3.section__h3 disable(el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Attribute
    dl.section__dl
      dt.section__dt Since：
      dd.section__dd 1.2.0
    p disable() 方法用来禁用指定 DOM 元素。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定要禁用的 DOM 元素。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
         &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
         &lt;/ul&gt;

         &lt;input type="text" id="user" class="user" value="Robert" /&gt;
         &lt;input type="checkbox" id="reading" name="hobby" class="checkbox" value="reading" /&gt;读书
         &lt;textarea id="desc" class="desc"&gt;I\'m a programmer&lt;/textarea&gt;

         // 引入 DOM 模块（中的所有工具方法）
         import DOM from '@yaohaixiao/dom.js/dom
         // 引用 disable 单个方法
         import disable from '@yaohaixiao/dom.js/disable'

         const $list = byId('#list')
         const $user = byId('#user')
         const $desc = byId('#desc')

         // 非 input 或者 textarea 元素 disable() 方法禁用无效
         DOM.disable($list) // -> false

         disable($user)
         DOM.getAttribute($user, 'disabled') // -> true

         // 对已经警用的 DOM 元素，再禁用无效
         DOM.disable($user) // -> false

         disable($desc)
         DOM.getAttribute($desc, 'disabled') // -> true
