section.section
  header.section__header
    h3.section__h3 removeClass(el, className)
  div.section__content
    p removeClass() 方法用来移除 DOM 元素中的 className 的样式。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）HTMLElement 参数指定需要移除 class 样式的 DOM 元素。
    h5.section__h4 className
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）className 参数指定要移除的 class 样式名称。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 addClass 单个方法
        import removeClass from '@yaohaixiao/dom.js/removeClass'

        const $list = DOM.byId('#list')

        // 添加 class 样式
        DOM.addClass($list, 'nav')
        DOM.addClass($list, 'primary')

        // 判断是否存在 class 样式
        DOM.removeClass($list, 'nav') => true
        removeClass($list, 'primary')

        hasClass($list, 'list') => true
        hasClass($list, 'nav') => false
        hasClass($list, 'primary') => false
