section.section
  header.section__header
    h2.section__title Attributes
  div.section__content
    p dom.js 提供以下方法来获取和设置元素的 DOM 属性。
  include ./hasClass
  include ./addClass
  include ./replaceClass
  include ./removeClass
  include ./toggleClass
  include ./getAttribute
  include ./getAttributes
  include ./setAttribute
  include ./setAttributes
  include ./removeAttribute
  include ./removeAttributes
  include ./attrs
  include ./html
  include ./text
