section.section
  header.section__header
    h3.section__h3 toggleClass(el, className)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Attributes
    p toggleClass() 方法用来切换（添加或删除） DOM 元素中的 className 的样式。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定需要切换 class 样式的 DOM 元素。
    h5.section__h4 className
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）className 参数指定要切换的样式名称。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
            &lt;li class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item"&gt;Blog&lt;/li&gt;
            &lt;li class="item"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 addClass 单个方法
        import hasClass from '@yaohaixiao/dom.js/addClass'
        import toggleClass from '@yaohaixiao/dom.js/toggleClass'

        const $active = document.querySelector('.active')

        // 添加 class 样式
        hasClass($active, 'active') // -> true

        // 判断是否存在 class 样式
        DOM.toggleClass($active, 'active')
        hasClass($active, 'active') // -> false

        // 判断是否存在 class 样式
        toggleClass($active, 'active')
        hasClass($active, 'active') // -> true
