section.section
  header.section__header
    h3.section__h3 toggleClass(el, className)
  div.section__content
    p toggleClass() 方法用来切换（添加或删除） DOM 元素中的 className 的样式；
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）HTMLElement 参数指定需要切换 class 样式的 DOM 元素；
    h5.section__h4 className
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p （必须）className 参数指定要切换的样式名称。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        const defaults = Outline.DEFAULTS

        // 需要配置 print 参数
        defaults.print = {
          element: '#article',
          title: document.querySelector('.title')
        }

        const outline = new Outline(Outline.DEFAULTS)

        outline.$on('exitReading', function() {
          // this 上下文就是 outline 实例
          console.log('this', this)
        })

        // 手动触发 exitReading 事件
        outline.$emit('exitReading')
