section.section
  header.section__header
    h3.section__h3 val(el, value)
  div.section__content
    h4.section__h4 Since
    p.section__dd 0.5.0
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Attributes
    p val() 方法用来获取或者设置 DOM （表单）元素的 value 属性值。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    h5.section__h4 value
      dl.section__dl
        dt.section__dt Type：
        dd.section__dd String|Number|Boolean
    p （可选）value 参数指定属性值。
    h5.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd String
    p 返回指定的属性值。
    h4.section__h4 Usage
    pre.section__pre
      code.section__code.
        &lt;label for="user" class="label"&gt;用户名：&lt;/label&gt;&lt;input type="text" name="user" id="user" value="Robert" /&gt;
        &lt;label for="group" class="label"&gt;部门：&lt;/label&gt;
        &lt;select id="group" name="group" class="select"&gt;
          &lt;option value="全部"&gt;全部&lt;/option&gt;
          &lt;option value="开发云" selected&gt;开发云&lt;/option&gt;
          &lt;option id="option" value="建模"&gt;建模&lt;/option&gt;
          &lt;option value="售楼"&gt;售楼&lt;/option&gt;
        &lt;/select&gt;
        &lt;label for="desc" class="label"&gt;备注：&lt;/label&gt;&lt;textarea name="desc" id="desc"&gt;前端工程师&lt;/textarea&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 val 单个方法
        import val from '@yaohaixiao/dom.js/val'

        const $user = byId('#user')
        const $group = byId('#group')
        const $option = byId('#option')
        const $desc = byId('#desc')

        DOM.val($user) // -> 'Robert'
        DOM.val($user, 'Yaohaixiao')
        DOM.val($user) // -> 'Yaohaixiao'

        val($group) // -> '开发云'
        val($group, '建模')
        val($group) // -> '建模'

        val($option) // -> '建模'
        val($option, '成本')
        val($group) // -> '成本'

        val($desc) // -> '前端工程师'
        val($desc, '软件工程师')
        val($desc) // -> '软件工程师'
