section.section
  header.section__header
    h3.section__h3 getOffset(el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Position
    p getOffset() 方法用来获取 DOM 节点相对于窗口的 top（纵坐标）值和 left（横坐标）值以及宽度和高度。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定 DOM 元素。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回 offsetTop 和 offsetLeft 值。如果元素存在 offsetParent 的父节点，那么这个值会累加直到其祖先节点不再有 offsetParent。
    p width 和 height 则为 DOM 元素的 offsetWidth 和 offsetHeight 值。
    pre.section__pre
      code.section__code.
        &lt;style&gt;
        .list {
          position: relative;
          z-index: 1;
        }
        .list,
        .item {
          margin: 0;
          padding: 0;
          list-style-type: none;
          overflow: hidden;
        }
        .item {
          margin: 0;
          border: 2px;
          padding: 10px;
          height: 40px;
          overflow: hidden;
        }
        &lt;/style&gt;

        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item project"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getOffset 单个方法
        import getOffset from '@yaohaixiao/dom.js/getOffset'

        const $list = DOM.byId('#list')
        const $home = DOM.byId('#home')

        DOM.getOffset($list)
        // -> {
          top: 0,
          left: 0,
          width: 256,
          height: 64
        }

        getOffsetTop($home)
        // -> {
          top: 0,
          left: 0,
          width: 64,
          height: 64
        }
