section.section
  header.section__header
    h3.section__h3 getScrollTotalLeft(el)
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Position
    p getScrollTotalLeft() 方法用来获取 DOM 节点预期所有父节点的横向滚动距离。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement|Window
    dl.section__dl
      dt.section__dt Default：
      dd.section__dd window
    p （可选）el 参数指定 DOM 元素，未传递则默认为 window 对象。
    h4.section__h4 Returns
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p 返回 DOM 元素的滚动条横向滚动距离。
    pre.section__pre
      code.section__code.
        &lt;ul id="list" class="list"&gt;
            &lt;li id="home" class="item active"&gt;Home&lt;/li&gt;
            &lt;li class="item blog"&gt;Blog&lt;/li&gt;
            &lt;li class="item project"&gt;Projects&lt;/li&gt;
            &lt;li class="item"&gt;About&lt;/li&gt;
        &lt;/ul&gt;

        // 引入 DOM 模块（中的所有工具方法）
        import DOM from '@yaohaixiao/dom.js/dom
        // 引用 getScrollTotalLeft 单个方法
        import getScrollTotalLeft from '@yaohaixiao/dom.js/getScrollTotalLeft'

        const $list = DOM.byId('#list')

        // 指定 DOM 元素
        DOM.getScrollTotalLeft($list) // -> 0

        // 默认获取 window 当前窗口的滚动距离
        getScrollTotalLeft() // -> 0
