section.section
  header.section__header
    h3.section__h3 scrollTo(el, top[, afterStop])
  div.section__content
    dl.section__dl
      dt.section__dt Category：
      dd.section__dd Position
    dl.section__dl
      dt.section__dt Alias：
      dd.section__dd getOffset
    p scrollTo() 法用来将 DOM 节点在纵向滚动调上滚动到指定的 top 位置。
    h4.section__h4 Parameters
    h5.section__h4 el
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd HTMLElement
    p （必须）el 参数指定 DOM 元素。
    h5.section__h4 top
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Number
    p （必须）top 参数指定 DOM 元素滚动的位置。
    h5.section__h4 afterStop
    dl.section__dl
      dt.section__dt Type：
      dd.section__dd Function
    p （可选）afterStop 参数指定 DOM 元素滚动到指定的位置后，执行的回调函数。
    pre.section__pre
      code.section__code.
