section.section
  header.section__header
    h2.section__title Position
  div.section__content
    p dom.js 提供以下几个方法用于获 DOM 元素的位置（offsetTop、offsetLeft、scrollTop、scrollLeft、pageX 和 pageY 等）信息。
  include isInViewport
  include offset
  include getOffset
  include getOffsetLeft
  include getOffsetTop
  include getPageX
  include getPageY
  include getPageXY
  include getDocumentScrollLeft
  include getDocumentScrollTop
  include getScroll
  include getScrollLeft
  include getScrollTop
  include getScrollTotal
  include getScrollTotalLeft
  include getScrollTotalTop
